.modal-container {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.6);
}

.modal-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.modal-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;
  max-width: 425px;
  padding: 2rem 1rem;
  z-index: 10;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-open {
  overflow: hidden;
}
